body{
    background:#C6D3FC;
    padding: 20px;
}

.wrapper
{
    background-color: white;
    display: flex;
}


*{padding:0;
margin: 0;
box-sizing: border-box;}

.sidebar{ background:#32323E ;
width: 370px ;
padding-top: 40px;
padding-bottom: 40px ;}

.myphoto{width: 370px}